@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: Inter, system-ui;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.theme-button {
    background-color: rgb(100, 21, 255);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-button.small {
    font-size: 1.4rem;
}

/* nav */
nav {
    padding: 3.2rem;
    padding-bottom: 0;
}

nav .row {
    justify-content: space-between;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 2.4rem;
    color: black;
    display: flex;
    align-items: center;
}

.nav__logo--text:hover {
    color: rgb(100, 21, 255);
}

.nav__logo {
    width: 4rem;
    margin-right: 1.2rem;
}

.nav__menu {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav__menu-links {
    display: flex;
}

.nav__menu-link {
    padding-right: 4.8rem;
    font-size: 1.4rem;
}

.nav__menu-auth-links {
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: 1.4rem;
}

.nav__menu-auth-link:first-child {
    margin: 0 2.4rem;
}

.nav__menu-auth-link:last-child {
    padding: 1.2rem 3.2rem;
    border-radius: 25px;
}
